<div class="row">
    <div class="col-md-5 col-sm-12">
        <img class="img-thumbnail" src="@Model.CoverUrl" alt="@Model.Name"/>
        <div class="text-center">
            <h2>Name: @Model.Name</h2>
            <h2>Price: $@Model.Price</h2>
        </div>
        <a class="btn btn-green" href="/Tracks/Create?albumId=@Model.AlbumId">Create Track</a>
        <a class="btn btn-green float-right" href="/Albums/All">Back To All</a>
    </div>
    <hr class="col-sm-12 d-md-none">
    <div class="col-md-5 col-sm-12 offset-md-2">
        <h2>Tracks</h2>
        <ol>
            @Model.Tracks
        </ol>
    </div>
</div>