<ul class="navbar-nav ml-auto">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <p class="nav navbar-text">Hello @User.Identity.Name!</p>
        </li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm">
            <li class="nav-item">
                <a class="nav-link text-black" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </li>
        </form>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-black" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>