<main class="mt-3">
    <h1 class="text-center text-panda">Login</h1>
    <hr class="bg-panda w-50 hr-2"/>
    <form class="mx-auto w-50" method="post" action="/Users/Login">
        <div class="form-group">
            <label for="username" class="text-panda">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="Username">
        </div>
        <div class="form-group">
            <label for="password" class="text-panda">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="Password">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn bg-panda text-white">Login</button>
        </div>
    </form>
</main>