<!DOCTYPE html>
<html>
<head>
    <title>TeisterMask</title>
	<link rel='stylesheet' href='/stylesheets/index-style.css' />
	<link rel='stylesheet' href='/stylesheets/form-style.css' />
</head>
<body>
    {{#if error }}
        <h2 class="error-msg">{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
</html>
