<h1>Hello MVC!</h1>
<hr>
<div style="display: @Model.ShowLoginForm;">
    <h2>Login</h2>
    <form action="/home/login" method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" name="Username" id="username" placeholder="username">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="Password" id="password" placeholder="any password works...">
        <br>
        <br>
        <input type="submit" value="Login">
        <em>(username and password can be anything but empty)</em>
    </form>
    <hr>
</div>
<a href="/home/logout">Logout</a>
<br>
<a href="/home/authorized">Authorized</a>