<div class="container">
    <h1 class="text-green text-center">Login</h1>
    <hr>
    <form action="/Users/Login" method="post">
        <div class="form-group">
            <label for="login">Username / Email</label>
            <input class="form-control" type="text" name="login" id="login" placeholder="Username / Email...">
            <br>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password...">
            <br>
            <div class="text-center">
                <input class="btn btn-green" type="submit" value="Login">
            </div>
        </div>
    </form>
</div>