<h1>Shopping List</h1>

<section>
    <div>
        <table>
            <tr>
                <th>Priority</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.priority}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.quantity}"></td>
                <td>
                    <input class="checkbox" type="checkbox" th:value="${product.status}" onclick="preventEvent(event)" th:name="${product.name}" />
                    <label th:for="${product.name}"></label>
                </td>
                <td>
                    <button class="edit" th:onclick="'location.href = \'' + @{/edit/{id}(id=${product.id})} + '\''">Edit</button>
                </td>
            </tr>
            </th:block>
        </table>
    </div>
</section>

<div>
    <button class="add-new" th:onclick="'location.href = \'' + @{/create} + '\''">+</button>
</div>

<script>
    //<![CDATA[
    function preventEvent(ev) {
        ev.preventDefault();
    }
    (function checkBox() {
        let checkboxes = document.getElementsByClassName("checkbox");

        for(let i = 0; i < checkboxes.length; i++) {
            if(checkboxes[i].value === "bought") {
                checkboxes[i].checked = true;
            }
        }
    })();
    //]]>
</script>