<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/index-style.css'/>
    <link rel='stylesheet' href='/stylesheets/create-style.css'/>
    <link rel='stylesheet' href='/stylesheets/delete-style.css'/>
</head>
<body>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
{{{body}}}
</body>
</html>
