<tr class="row">
    <th class="col-lg-1 d-flex justify-content-center"><h5>@Model.No</h5></th>
    <th class="col-lg-4 d-flex justify-content-center"><h5>@Model.Description</h5></th>
    <td class="col-lg-1 d-flex justify-content-center"><h5>@Model.Weight KG</h5></td>
    <td class="col-lg-3 d-flex justify-content-center"><h5>@Model.Address</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.Recipient</h5></td>
    <td class="col-lg-1 d-flex justify-content-center">
        <a href="/Packages/Ship?id=@Model.Id" class="btn bg-panda text-white">Ship</a>
    </td>
</tr>