<tr class="row">
    <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@Model.Id</h5></th>
    <td class="col-lg-2 d-flex justify-content-center"><h5>$@Model.Fee</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.IssuedOn</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.Recipient</h5></td>
    <td class="col-lg-1 d-flex justify-content-center">
        <a href="/Receipts/Details?id=@Model.Id" class="btn bg-panda text-white">Details</a>
    </td>
</tr>